*.h5
*.pyc
data/
experiments/
experiments_archived/
.idea/
amass_to_temp/
experiments_amass/
experiment-logger-*
selected_experiments_amass/*
experiments_h36m/
experiments_amass_all/
quaternet_results/
smpl_images/
paper_experiments_amass/
